span {
    background-color:orange;
    border-radius: 25%;
    color: black;
    font: bold;
    margin: 0% auto;
    padding: 0.3rem;
    width: auto;
    height: auto;
}
.imagenCarrito {
    width: 2rem;
    width: 2rem;
}
